{{set . "title" "个人设置"}}
{{template "header.html" .}}
<div class="row">
	<div class="col-md-2">
		{{template "accounts/_nav.html" .}}
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">个人设置</div>
			<div class="panel-body">
				<form class="signup" action="/account" method="POST">
					{{.validation | error_messages}}
					<input type="hidden" name="csrf_token" value="{{.csrf_token}}" />
					<div class="form-group">
						<div class="input-group col-xs-9">
							<span class="input-group-addon" id="twitter-addon">帐号</span>
							<input type="readonly" class="form-control" name="login" value="{{.current_user.Login}}">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group col-xs-9">
							<span class="input-group-addon" id="twitter-addon">Email</span>
							<input type="email" class="form-control" name="email" id="user-email" value={{.current_user.Email}}>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group col-xs-9">
							<span class="input-group-addon" id="twitter-addon">姓名</span>
							<input type="text" class="form-control" name="fullname" id="user-fullname" aria-describedby="github-addon" value={{.current_user.Fullname}}>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group col-xs-9">
							<span class="input-group-addon" id="twitter-addon">学号</span>
							<input type="text" class="form-control" name="studentNo" id="user-studentNo" aria-describedby="twitter-addon" value={{.current_user.StudentNo}}>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group col-xs-9">
							<span class="input-group-addon" id="twitter-addon">院系</span>
							<input type="text" class="form-control" name="profession" id="user-profession" aria-describedby="twitter-addon" value={{.current_user.Profession}}>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group col-xs-9">
							<span class="input-group-addon" id="twitter-addon">学校</span>
							<input type="text" class="form-control" name="school" id="user-school" aria-describedby="twitter-addon" value={{.current_user.School}}>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group col-xs-9">
							<span class="input-group-addon" id="twitter-addon">城市</span>
							<input type="location" class="form-control" name="location" id="user-location" value={{.current_user.Location}}>
						</div>
					</div>

					<div class="form-group">
						<label for="user-tagline">一句话介绍自己</label>
						<input type="text" class="form-control" name="tagline" id="user-tagline" value={{.current_user.Tagline}}>
					</div>
					<div class="form-group">
						<label for="user-description">详细介绍 (Markdown)</label>
						<textarea class="form-control" rows="6" name="description" id="user-description">{{.current_user.Description}}</textarea>
					</div>
					<button type="submit" class="btn btn-primary">保存我的信息</button>
				</form>
			</div>
		</div>
	</div>
</div>
{{template "footer.html" .}}